# Unreal Engine build files
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Content/
.vs/

# Visual Studio files
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# OS/Tool generated
.DS_Store
Thumbs.db
.vscode/

# 기타
*.log
*.sin